@page "/"

<h1>Hello! Welcome to BeezyFoods!</h1>
<br />

<h3>News Letter</h3>
<h5>We aspire to serve you the best highest quality food at the quickest time possible! </h5>
<h5>We are a company that loves food, what's better than food? Quickly delivered food!</h5>
<br />

<h3>Office Hours</h3>

Monday	9am–6pm
<br />Tuesday	9am–6pm
<br />Wednesday	9am–6pm
<br />Thursday	9am–6pm
<br />Friday	9am–6pm
<br />Saturday	Closed
<br />Sunday	Closed
<br />

<h3>Contact Us!</h3>
Email: beezyfoods@gmail.com
<br />Number: 65748392
<br />Find us: Sin Ming 15 Lane

<SurveyPrompt Title="How is Blazor working for you?" />
